:root {
  --primary-color: #f0ebff;
  --secondary-color: #716eff;
  --dark-color: #222564;
  --light-color: #f0ebff;
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --links-color: #b0b2fd;
  --aqua: #86fbfb;
}

.App {
  background-color: var(--dark-color);
  min-height: 100vh;
  color: white;
  padding: 30px;
}

.user {
  background-color: #000346;
  padding: 1rem;
  margin: 1rem;
}

button {
  background-color: var(--secondary-color);
  color: var(--light-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1rem;
}